@charset "UTF-8";
/* CSS Document */
#caja_eventos {
width: 242px;
padding: 2px;
position: relative;
margin: 10px;
}
.muni {
    height: 20px;
    width: 210px;
    padding: 2px;
    font-family: "Helvetica Neue";
    font-size: 16px;
    color: #390;
    font-weight: 700;
    text-align: center;
}
#fecha_event {
    height: 20px;
    
    padding: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    color: #999;
    text-align: center; 
}
.linea_div { height:5px; }
#Img-foto {
    
    
    display: inline-block;
border: 2px solid #FFF;
border-radius: 5px;
-webkit-box-shadow: 1px 1px 8px 1px #BBB;
box-shadow: 1px 1px 8px 1px #BBB;
height: 153px;
margin: 3px;
position: relative;
width: 232px;


}
#descrip_event {
    font-family: "Helvetica Neue";
    font-size: 12px;
    color: #666;
    text-align: center;
    padding-top:5px;
}

#Img-foto a {
	border-radius: 5px;
display: inline-block;
}

#Img-foto a img { 
	border-radius: 5px;
	cursor: pointer;
	height: 153px;
	width: 232px; 
}

