#sb-title-inner, #sb-info-inner, #sb-loading-inner, div.sb-message {
    color: #0A7846;
    font-family: Helvetica,Arial,sans-serif;
    font-weight: bold;
}
#sb-container {
    display: none;
    left: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    text-align: left;
    top: 0;
    visibility: hidden;
    z-index: 999;
}
#sb-overlay {
    background-color: #FFFFFF;
    height: 100%;
    position: relative;
    width: 100%;
}
#sb-wrapper {
    position: absolute;
    visibility: hidden;
    width: 100px;
}
#column1 {
    visibility: visible;
}
#column2 {
    visibility: visible;
}
#sb-wrapper-inner {
    border: 4px solid #FFFFFF;
    height: 100px;
    left: -100px;
    overflow: hidden;
    position: relative;
}
#sb-wrapper2-inner {
    background-color: #D2D2D2;
    border: 4px solid #FFFFFF;
    bottom: 0;
    height: 100px;
    max-width: 280px;
    min-width: 280px;
    position: absolute;
    right: -180px;
    top: 0;
    width: 33%;
}
#lbl-cerrar {
    cursor: pointer;
    display: block;
    float: right;
    height: 25px;
    position: relative;
}
#sb-logo {
    background: url("../img/lighbox3/tu-foto-guero-grises.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 125px;
    position: relative;
    top: 50px;
}
#sb-comp-foto {
    background: url("../img/lighbox3/compic2.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 66px;
    position: relative;
    top: 90px;
}
#sb-body {
    height: 100%;
    position: relative;
}
#sb-body-inner {
    height: 100%;
    position: absolute;
    width: 100%;
}
#sb-player.html {
    height: 100%;
    overflow: auto;
}
#sb-body img {
    border: medium none;
}
#sb-loading {
    height: 100%;
    position: relative;
}
#sb-loading-inner {
    font-size: 14px;
    height: 24px;
    line-height: 24px;
    margin-top: -12px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
}
#sb-loading-inner span {
    background: url("../img/lighbox/loading.gif") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    font-size: 10px;
    font-weight: normal;
    padding-left: 34px;
}
#sb-body, #sb-loading {
    background-color: #060606;
}
#sb-title, #sb-info {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}
#sb-title, #sb-title-inner {
    visibility: hidden;
}
#sb-title-inner {
    visibility: hidden;
}
#sb-info, #sb-info-inner {
    visibility: hidden;
}
#sb-info-inner {
    font-size: 0;
}
#sb-navv {
    float: right;
    height: 16px;
    padding: 2px 0;
    width: 45%;
}
#sb-nav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    height: 41px;
    padding-top: 10px;
    position: absolute;
    top: 175px;
    width: 100%;
}
#sb-nav a {
    background-repeat: no-repeat;
    cursor: pointer;
    display: block;
    height: 32px;
    width: 113px;
}
#sb-nav #sb-nav-previous {
    height: 32px;
    opacity: 1;
    position: absolute;
    width: 113px;
}
#sb-nav #sb-nav-previous:hover {
    height: 32px;
    opacity: 0.8;
    position: absolute;
    width: 113px;
}
#sb-nav #sb-nav-next {
    height: 32px;
    opacity: 1;
    position: absolute;
    width: 113px;
}
#sb-nav #sb-nav-next:hover {
    height: 32px;
    opacity: 0.8;
    position: absolute;
    width: 113px;
}
#sb-descarga #sb-down {
    height: 32px;
    opacity: 1;
    width: 113px;
}
#sb-descarga #sb-down:hover {
    height: 32px;
    opacity: 0.8;
    width: 113px;
}
#sb-nav-close {
    color: #716D6D;
    float: right;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 21px;
    height: 25px;
    margin-right: 26px;
}
#sb-sig {
    background-image: url("sombra-2.png");
    height: 41px;
    position: absolute;
    right: 20px;
    width: 113px;
}
#sb-ant {
    background-image: url("sombra-1.png");
    height: 41px;
    margin-left: 20px;
    position: absolute;
    width: 113px;
}
#sb-descarga {
    background: url("sombra-3.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    display: block;
    height: 41px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 470px;
    width: 100%;
}
#sb-nav-play {
    background-image: url("../img/lighbox/play.png");
}
#sb-nav-pause {
    background-image: url("../img/lighbox/pause.png");
}
#sb-counter {
    float: left;
    width: 45%;
}
#sb-counter a {
    color: #FFFFFF;
    cursor: pointer;
    padding: 0 4px 0 0;
    text-decoration: none;
}
#sb-counter a.sb-counter-current {
    text-decoration: underline;
}
div.sb-message {
    font-size: 12px;
    padding: 10px;
    text-align: center;
}
div.sb-message a:link, div.sb-message a:visited {
    color: #FFFFFF;
    text-decoration: underline;
}
#lblsocial {
    position: absolute;
    top: 290px;
}
#lblsocial a {
    color: #716D6D;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 20px;
    height: 37px;
    margin-top: 5px;
    overflow: hidden;
    padding: 3px 3px 7px 18px;
    text-decoration: none;
}
#lblsocial a:hover {
    display: block;
}
#lblsocial a img {
    display: block;
    float: left;
    padding: 0 12px 0 0;
}
div.clearfix {
    clear: both;
}
