#sb-wrapper2-inner{
position: absolute;
background-color: #d2d2d2;
width: 250px;
top: 0px;
right: -125px;
display: inline-block;
bottom: 0px;
}
#sb-wrapper2-inner #sb-nav {
	display: inline-block;
	height: 25px;
	float: none;
	position: relative;

}
#sb-wrapper2-inner #lblsocial {
	position: relative;
display: inline-block;
background: blue;
top: 0px;
left: 0px;
right: 0px;
bottom: 0px;
border: none;
padding: 0px;
margin: 0px;
}
#sb-wrapper2-inner #sb-nav #sb-nav-close { 
height: 25px;
font-family: 'Myriad-Pro Bold', Helvetica, Arial, sans-serif;
font-size: 15px;
font-weight: normal;
color: #716d6d;
background: url(../img/lighbox3/cerrar2.png) no-repeat right 3px;
width: 74px;
background-size: 15px 15px;
}

#sb-wrapper2-inner #sb-logo {
position: relative;
display: block;
background: url(../img/lighbox3/tu-foto-guero-grises.png) no-repeat center;
top: 50px;
height: 125px;
}


#lbl-cerrar {position:relative;display:block;float:right;height:25px; background:url(../img/lighbox/cerrar2.png) no-repeat right;}
#sb-logo {position: relative;display:block;background:url(tu-foto-guero-grises.png) no-repeat center; top:50px;height:125px;}
#sb-comp-foto {position: relative;display:block;background:url(compic2.png) no-repeat center; top:90px;height:66px;}




#sb-title-inner,#sb-info-inner,#sb-loading-inner,div.sb-message{font-family:Helvetica,Arial,sans-serif; font-weight:bold;color:#0a7846;}
#sb-container{position:fixed;margin:0;padding:0;top:0;left:0;z-index:999;text-align:left;visibility:hidden;display:none; 

}
#sb-overlay{position:relative;height:100%;width:100%; background-color: #fff;}
#sb-wrapper{position:absolute;visibility:hidden;width:100px;}
#sb-wrapper-inner{position:relative;border:4px solid #fff;height:100px;left: -125px;}
#sb-body{position:relative;height:100%;}
#sb-body-inner{position:absolute;height:100%;width:100%;}
#sb-player.html{height:100%;overflow:auto;}
#sb-body img{border:none;}
#sb-loading{position:relative;height:100%;}
#sb-loading-inner{position:absolute;font-size:14px;line-height:24px;height:24px;top:50%;margin-top:-12px;width:100%;text-align:center;}
#sb-loading-inner span{background:url(../img/lighbox/loading.gif) no-repeat;padding-left:34px;display:inline-block; font-weight: normal;
font-size: 10px;}
#sb-body,#sb-loading{background-color:#060606;}
#sb-title,#sb-info{position:relative;margin:0;padding:0;overflow:hidden;}
#sb-title,#sb-title-inner{
display: block;
position: relative;
background: orange;	
	}
#sb-title-inner{font-size:16px;}
#sb-info,#sb-info-inner{
display: block;
position: relative;
background: yellow;	
	}
#sb-info-inner{font-size:12px;}
#sb-navv{float:right;height:16px;padding:2px 0;width:45%;}
#sb-nav{
height: 100%;
padding: 2px 0;
width: 100%;
background: transparent;
display: block;
position: absolute;
}



#sb-nav a{display:block;float:right;height:16px;width:16px;margin-left:3px;cursor:pointer;background-repeat:no-repeat;}
#sb-nav #sb-nav-previous{ 
	position: absolute;
	top: 50%;
	margin-left: -50px;
	width: 39px;
height: 85px;
opacity: 1;
	}
#sb-nav #sb-nav-previous:hover{ 
	position: absolute;
	top: 50%;
	margin-left: -50px;
	width: 39px;
	height: 85px;
	opacity: .7;
	}
#sb-nav #sb-nav-next{
	right: -50px;
top: 50%;
position: absolute;
width: 39px;
height: 85px;
opacity: 1;
	}
#sb-nav #sb-nav-next:hover{
	right: -50px;
top: 50%;
position: absolute;
width: 39px;
height: 85px;
opacity: .5;
	}
#sb-nav-close{ }
#sb-nav-next{background-image:url(../img/lighbox/next.png);}
#sb-nav-previous{background-image:url(../img/lighbox/previous.png);}
#sb-nav-play{background-image:url(../img/lighbox/play.png);}
#sb-nav-pause{background-image:url(../img/lighbox/pause.png);}
#sb-counter{float:left;width:45%;}
#sb-counter a{padding:0 4px 0 0;text-decoration:none;cursor:pointer;color:#fff;}
#sb-counter a.sb-counter-current{text-decoration:underline;}
div.sb-message{font-size:12px;padding:10px;text-align:center;}
div.sb-message a:link,div.sb-message a:visited{color:#fff;text-decoration:underline;}
#lblsocial{	
	top: 22px;
	z-index: 3;
	right: -52px;
	position:absolute;
	padding: 5px;
	border-radius: 5px;
	
	
}
#lblsocial a { padding: 0px; display: block; overflow: hidden; }
#lblsocial a:hover { 
	
	background-size:53px;
	
	display: block;
}
#lblsocial a  img { 
	display: block;  
	width: 42px;
	height: 43px;
	padding: 0px; 
}

 
