/*  Normal  */
.bg_item_normal {
  background: url(menu-items.png) 0px 0px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Home    */
.bg_item_normal 2 {
  background: url(menu-items.png) 0px -43px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Events  */
.bg_item_normal 3 {
  background: url(menu-items.png) 0px -86px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Contacto    */
.bg_item_normal 4 {
  background: url(menu-items.png) 0px -129px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Normal  */
.bg_item_hover {
  background: url(menu-items.png) 0px -172px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Home    */
.bg_item_hover 2 {
  background: url(menu-items.png) 0px -215px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Eventos */
.bg_item_hover 3 {
  background: url(menu-items.png) 0px -258px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Contacto    */
.bg_item_hover 4 {
  background: url(menu-items.png) 0px -301px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Normal  */
.bg_item_active {
  background: url(menu-items.png) 0px -344px no-repeat;
  display: block;
  width: 233px;
  height: 41px;
}
/*  Home    */
.bg_item_active 2 {
  background: url(menu-items.png) 0px -387px no-repeat;
  display: block;
  width: 233px;
  height: 41px;
}
/*  Events  */
.bg_item_active 3 {
  background: url(menu-items.png) 0px -430px no-repeat;
  display: block;
  width: 233px;
  height: 41px;
}
/*  Contacto    */
.bg_item_active 4 {
  background: url(menu-items.png) 0px -473px no-repeat;
  display: block;
  width: 233px;
  height: 41px;
}
/*  Normal  */
.bg_submenu {
  background: url(menu-items.png) 0px -516px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Home    */
.bg_submenu 2 {
  background: url(menu-items.png) 0px -559px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Events  */
.bg_submenu 3 {
  background: url(menu-items.png) 0px -602px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
/*  Contacto  */
.bg_submenu 4 {
  background: url(menu-items.png) 0px -645px no-repeat;
  display: block;
  width: 232px;
  height: 41px;
}
