Code/BD
Code/snippets/config/.svn
Code/snippets/db
Code/snippets/db/connection.php
.sass-cache
connectors
core
manager
bower_components
setup
assets/css/*
assets/js/*
assets/components
assets/components/*
setup_
*.sql
*.sublime-*
.DS_Store
pp.config.ini
config.core.php
index.php
config.codekit
