Code/BD
Code/snippets/config/.svn
Code/snippets/db
Code/snippets/db/connection.php
assets/img/municipios/
.sass-cache
connectors
core
manager
bower_components
setup
assets/components
assets/components/*
*setup*
*.sql
*.sublime-*
.DS_Store
pp.config.ini
config.core.php
core/index.php
connectors/index.php
core/index.php
manager/index.php
setup_/index.php
setup/index.php
config.codekit
tufotoconelguero.sublime-workspace
