@import url(http://fonts.googleapis.com/css?family=Balthazar);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);

html, body { 
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: #333333;
background-color: white; margin: 0px;
}


.edita_galeria{
    width: 1026px;
    margin: 5px auto;
    background-color: white;    
    overflow: hidden;
    border: 1px solid #ccc;
	 padding: 5px;
        
}

.galeria{
    width: 1026px;
    margin: 0 auto;
    background-color: white;    
    overflow: hidden;
    border: 1px solid #ccc;
	 padding: 5px;
        
}

.categoria {   
	margin: 3px; 
	overflow: hidden; 
	color: #424242;
	border: 1px solid #eee;
	padding: 5px;
}

.categoria .lblevento { 
	margin: 2px;
	padding: 5px;
	font-size: 20px;
	display: block;
	}
.categoria .lbldescripcion {
	margin: 5px;
	padding: 5px;
	font-size: 13px;
	display: block;
	text-align: justify;
}
	
.categoria .lblfecha 
	{  
		padding: 5px 0px 5px 0px;  
		font-family: 'Poiret One', cursive; 
		font-size: 16px; 
		display: block; 
		width: 200px;
		margin: 0 auto;
		border-bottom: 1px solid #E6E6E6;
	}
.categoria .footerEvento { text-align: center; width: 100%; margin:  0 auto; clear: both; }

.galeria img{
    width: 328px;	    
    height: 200px;     
    border: 2px solid #D8D8D8;  float: left;   
}
.categoria  img { margin: 1px; padding: 1px; font-family: 'Balthazar', serif;}

#header { background-color: black; height: 30px;}
#header h6 { margin: 3px 0 5px 20px; color: #ccc; font-size:14px; line-height: 28px;}
#hearing { height: 30px; }
#footer  { background-color: black; height: 30px; }
#footer h6 { margin: 3px 0 5px 20px; color: #ccc; font-size:14px; }

#error { height:350px; background-color:#fafafa; font-size:10px; color:red;}

a {
	
	font-size: 11px;
	color: #579ECF;
	text-decoration: none;
}
a:hover {
	
	font-size: 11px;
	color: #EB973F;
	text-decoration: none;
}
#topControl {
	clear:both;
	width:99%;
	margin: 0 auto; 
	overflow:hidden;
}
 #topMenu {
	clear:both;
	width:99%;
	margin: 0 auto; 
	overflow: hidden;
}
#topControl ul  { margin : 2px;  overflow: hidden; float: right;}
#topControl ul  li { float:left; margin:2px; padding:2px 2px 5px 2px; }

/*  menu */
#topMenu  * { margin: 0;  padding: 0; }
 
#topMenu  nav {   border-bottom: 1px solid gray; }
 
#topMenu  ul {  overflow: auto;   list-style-type: none;   height:28px; }
 
#topMenu li {    height: 18px;  float: left;   margin-right: 0px;   border-right: 1px solid #aaa;   padding: 0 20px; }
 
#topMenu  li:last-child {   border-right: none;  }
 
#topMenu  li a {   text-decoration: none;   color: #ccc;   font: 14px/1 Helvetica, Verdana, sans-serif;   text-transform: uppercase; 

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
#topMenu li a:hover {   color: #666; }
 
#topMenu li.active a {   font-weight: bold;    color: #333; }






.edita 	{ }
.input-evento 	{ width: 90%; float: left; clear: left; border: 1px solid #ccc; }
.input-descripcion { width: 90%; float: left; clear: left; border: 1px solid #ccc; }
.input-fecha 	{ width: 90%; float: left; clear: left; border: 1px solid #ccc;}
.input-activo 	{ width: 20%; float: left; clear: left; border: 1px solid #ccc;}
.input-update { float: left; margin-left: 10px;}
.edita_galeria .categoria img { width: 80px;  }
.edita_galeria .categoria div { float: left; overflow: hidden; text-align: center; }
.edita_galeria .categoria a 
	{ 
		float: left; 
		overflow: hidden; 
		clear: both;  
		width: 80px;
		text-align: center; 
		}

.compartir {  clear: both; text-align: right; margin: 0 auto; }
		
.edita_galeria .categoria	.compartir {  clear: both; text-align: right; margin: 0 auto; }
.edita_galeria .categoria  .compartir a { float: none;}
.error { padding: 2px; text-align: justify; color: red; }
#datos { width: 48%; float: left;}
#subirFiles { width: 48%; float: right;}
#separador { clear: both;}