html, body { 
font-family: Helvetica, Arial, sans-serif;
font-size: 14px;
line-height: 20px;
color: #333333;
background-color: white; margin: 0px;
}
#content { }
#main { background: transparent;  width: 1069px; margin: 0 auto;    }
#main-footer { 
       min-height: 80px;       
       background-color: #247404;
       text-align: center;
		 padding: 15px 5px 5px 5px;
}

#top-head  { position: relative; width: 100%; min-height: 130px; background-color: #247404; text-align: center; }
#top-head-inner { 
	position: absolute; 
 	background: url(../imagenes/header-light.png) center -4px no-repeat;
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
 	}

.copyright {color: white; }
.menu { margin: 2px;}
.menu li {
		display: inline;
	list-style-type: none;
	padding-right: 3px; 
}

.menu li a { color: #fff; }
.menu li a:hover { color: #EB973F; }
#head { background: transparent; width: 1030px; margin: 0 auto;  overflow: hidden; height: 400px;}
#head h1 {  text-align: center;}
#head img{
        border:none;
        
}
#head .main-img { float: left; width: 300px; height: 400px; }
#head .main-img1 {}
#head .main-img2 {}
#head .main-img3 {}
#head .main-img4 {}
#head .main-img5 {}
#head .main-img6 {}



.categoria {   margin: 0px auto; overflow: hidden; color: #424242; width: 986px; padding: 0px 10px;}
.categoria .lblevento { margin: -2px 5px 5px 5px; padding: 12px; font-size: 26px; display: block;}
.categoria .lblfecha 
	{  
		padding: 5px 0px 5px 0px;   
		font-size: 16px; 
		display: block; 
		width: 200px;
		margin: 0 auto;
		border-bottom: 1px solid #E6E6E6;
	}
.categoria .footerEvento { 
	text-align: center; 
	width: 100%; 
	margin:  0 auto; 
	clear: both; 
	padding-bottom: 15px;
}

.galeria{    
    	margin: 0 auto;
    	background-color: white;    
    	overflow: hidden;
    	background: url(../imagenes/left.png) 0 0 no-repeat, url(../imagenes/right.png) right top no-repeat;
		width: 100%;
		padding-top: 15px;	
}
.galeria img.horizontal{
    width: 315px;	    
    height: 200px;     
        
}

.galeria img.vertical{
    width: 112px;	    
    height: 200px;     
        
}

.galeria div.caja{
    width: 320px;	    
    height: 206px;
    border: 2px solid #D8D8D8;
    float: left;
    margin-right: 2px;
	 margin-left: 2px;
	 text-align: center;     
}


.galeriaFull{
    
    margin: 0 auto;
    background-color: transparent;    
    overflow: hidden;
    min-height:650px; 
    
    margin: 0 auto;
background-color: white;
overflow: hidden;
background: url(../imagenes/left.png) 0 0 no-repeat, url(../imagenes/right.png) right top no-repeat;
width: 100%;
padding-top: 15px;
        
}
.galeriaFull h1 {
	color: white;
	
	padding-left: 20px;

}
.galeriaFull p { color: #fff ; padding:  0px 20px;  }
.galeriaFull img{
    border:none;    
}
.galeriaFull .categoria { 
	background-color: #fff;
	padding-left: 4px;
	padding-right: 1px;
	clear: both;
	}
.galeriaFull .categoria .compartir{ padding: 5px;}

.categoria  img { 
	padding: 3px;
	margin-right: 3px;
	border:none;	
	}

#header { background-color: black; height: 30px;}
#header h6 { margin: 3px 0 5px 20px; color: #ccc; font-size:14px; line-height: 28px;}
#hearing { height: 30px; }
#footer  { background-color: black; height: 30px; }
#footer h6 { margin: 3px 0 5px 20px; color: #ccc; font-size:14px; }

#error { height:350px; background-color:#fafafa; font-size:10px; color:red;}

a {
	
	font-size: 11px;
	color: #333;
	text-decoration: none;
}
a:hover {
	
	font-size: 11px;
	color: #EB973F;
	text-decoration: none;
}
#topControl {
	clear:both;
	width:99%;
	margin: 0 auto; 
	overflow:hidden;
}
 #topMenu {
	clear:both;
	width:99%;
	margin: 0 auto; 
	overflow: hidden;
}
#topControl ul  { margin : 2px;  overflow: hidden; float: right;}
#topControl ul  li { float:left; margin:2px; padding:2px 2px 5px 2px; }

/*  menu */
#topMenu  * { margin: 0;  padding: 0; }
 
#topMenu  nav {   border-bottom: 1px solid gray; }
 
#topMenu  ul {  overflow: auto;   list-style-type: none;   height:28px; }
 
#topMenu li {    height: 18px;  float: left;   margin-right: 0px;   border-right: 1px solid #aaa;   padding: 0 20px; }
 
#topMenu  li:last-child {   border-right: none;  }
 
#topMenu  li a {   text-decoration: none;   color: #ccc;   font: 14px/1 Helvetica, Verdana, sans-serif;   text-transform: uppercase; 

  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
 
#topMenu li a:hover {   color: #666; }
 
#topMenu li.active a {   font-weight: bold;    color: #333; }


#subirImagenes {
	width: 1080px;
	margin: auto;
	background-color: #DFDFDF; 	
	padding: 20px 10px 10px 20px;
	border-radius: 10px;
	box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.6);
}

#formularioSubida .inputImagenModificado input {
    background: url('../imagenes/campo_texto_2.gif') no-repeat;
    border: none;
    width: 400px;
    height: 20px;
    padding-left: 5px;
    padding-top: 2px;
    margin-right: -95px;
}

#formularioSubida .inputImagenModificado {
    position: relative;
    margin-bottom: 20px;
}

#formularioSubida input.inputImagenOculto {
    position: relative;
    text-align: right;
    -moz-opacity: 0;
    opacity: 0;
    z-index: 2;      
}

#formularioSubida .inputParaMostrar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    z-index: 1;
}





.categoria .estilo0img { }
	.categoria .verticalestilo0img { }
	.categoria .horizontalestilo0img { }

.categoria .estilo1img { float: left;}
	.categoria .verticalestilo1img { 
		float: left;
		width: 12%;
		max-width: 134px;
		height: 32%;
		max-height: 197px;
		margin-left: 82px;
		margin-right: 82px;
		}
	.categoria .horizontalestilo1img { float: left;}

.categoria .estilo2img { float: left;}
.categoria .estilo3img { float: left;}
.categoria .estilo4img { float: left;}
.categoria .estilo5img { float: left;}
.categoria .estilo6img { float: left;}
.categoria .estilo7img { float: left;}

.compartir {  clear: both; text-align: right; margin: 0 auto; }

.panel1 { float: left; width:257px; }
.panel1 .caja { overflow: hidden; height: 200px; vertical-align: middle; }
.panel1 img { width: 257px;     height: 200px; }

.panel2 { float: left; width:257px;}
.panel2 .caja { overflow: hidden; height: 200px; vertical-align: middle; }
.panel2 img { width: 257px;     height: 200px; }

.panel3 { float: left; width:257px;}
.panel3 .caja { overflow: hidden; height: 200px; vertical-align: middle; }
.panel3 img { width: 257px;     height: 200px; }

.panel4 { float: left; width:257px;}
.panel4 .caja { overflow: hidden; height: 200px; vertical-align: middle; }
.panel4 img { width: 257px;     height: 200px; }

.panel11 { float: left; width:257px;  overflow: hidden;}
.panel11 .caja a img { height: 400px; }


.panel1 img.vertical{
    width: 266px;	    
    height: 300px;     
        
}

.panel2 img.vertical{
    width: 266px;	    
    height: 300px;     
        
}

.panel3 img.vertical{
    width: 266px;	    
    height: 300px;     
        
}


.panel4 img.vertical{
    width: 266px;	    
    height: 320px;     
        
}


#head div { text-align: center; background: #000;}
#head a { display: block; line-height: 0px; }
.head-descripcion { max-width: 48%; float: left; text-align: justify; }
.galeriaFull .head-logo { float: right;  border: none; width: 404px; height: 111px;  padding-right: 20px; }
.head-fecha { max-width: 48%; clear: both;}

.galeriaFull img.vertical {
width: 112px;
height: 200px;
}
.galeriaFull img.horizontal {
width: 315px;
height: 200px;
}

.galeriaFull div.caja {
width: 320px;
height: 206px;
border: 2px solid #D8D8D8;
float: left;
margin-right: 2px;
margin-left: 2px;
text-align: center;
}


.galeriaFull .regresar { border:none; width: 137px; height: 31px; }
.galeriaFull .social { border:none; width: 33px; height: 31px; }

.footer-compartir  { 
	clear: both;
	text-align: left;
	margin: 0 auto;
	padding-top: 5px;
	}
	.footer-compartir  a { display:  inline-block; overflow: hidden;  }
	.footer-compartir a:hover { text-decoration:  underline;}
	.head-regresar { 
		clear: both;
		text-align: right;
		margin: 0 auto;
	}
#buscar { position: relative;padding-left: 15px;
background-color: #247404; 
width: 285px;
padding-right: 15px;
padding-bottom: 15px;
min-height: 150px;

}
#resultado { 
padding: 1px;
border-radius: 3px;
background: #000;
width: 283px;
z-index: 30;

color: #EB973F;
opacity: 0.6;
border-top:   1px solid #fff;
min-height: 56px;
}	
#resultado p { 
 border:none;
 color: #000;
 
}
.lnkver { color: white;}
.a-borrar { 
	display: inline-block; 
	overflow: hidden; 
	width: 34px; 
	top: 18px;
	position: relative; border:none;
	
	}
.borra-busqueda { width: 30px; border:none;}


/* Contenedor general contenido */
.hiddencon {
	height: 200px;
display: block;
margin: 0;
padding: 0;
width: 315px;
z-index:99999;
position: fixed;
color: #fff;
/* Desplazamiento para ocultar hacia la derecha 
todo el ancho del bloque menos el borde */
left: 0px;
top: 136px;
opacity: .9;
left: -315px;
}
.hiddencon2 {
top: auto;
bottom: 10px;
}
/* Contenido visible al hacer hover */
.hiddencon:hover {
left: 0px;
}
/* Pestaña para desplegar */
.hiddencon-label {
	left: 315px;
margin-top: -21px;
height: 20px;
padding: 10px;
position: absolute;
top: 21px;
display: inline-block;
color: white;
background: #247404;
font-size: 14px;
-moz-border-radius: 0px 12px 12px 0px;
-webkit-border-radius: 0px 12px 12px 0px;
border-radius: 0px 12px 12px 0px;
}
.hiddencon, .hiddencon-label {
  -webkit-transition:all 0.4s ease-in-out;  /* Chrome y Safari */
  -o-transition:all 0.4s ease-in-out;  /* Opera */
  -moz-transition:all 0.4s ease-in-out;  /* Mozilla Firefox */
  -ms-transition:all 0.4s ease-in-out;   /* Internet Explorer */
  transition:all 0.4s ease-in-out;  /* W3C */
  
  
}
/* El contenido incluida variante para listas */
.hiddencon p, .hiddencon ul {
margin: 0;
padding: 0;
border: 8px solid #BE901B;
border-right: 0;
color: #fff;
background-color: #000;
text-align:center;
vertical-align: center;
-moz-border-radius: 10px 0 0 10px;
-webkit-border-radius: 10px 0 0 10px;
border-radius: 10px 0 0 10px;
}
#BuscaFecha { height: 20px;}
#busqueda { width: 200px;
border-radius: 5px;
margin-right: 6px; height: 20px;
}
#Fecha { height: 22px;}
.lblsearch { font-size: 10px; height: 15px;}