body { overflow: hidden;}
.contenedor-panel { 
	text-align: center; 
	width: 100%; 
	background: url(../img/dashboard/bg_dashboard.png) no-repeat;
	background-size: 100% 100%; 
	}

.tabla-evento-reciente span { display:  block;}
.tabla-evento-reciente  h1{
	font-weight: bold;
	font-size: 24px;
	text-align: justify;
	margin: 5px 5px 5px 3px;
	color: #0B6121;
	}
.tabla-evento-reciente  h2{
	font-size: 12px;
	text-align: justify;
	margin:3px;
	}
		
.tabla-galeria , .tabla-pagina{
	background-color:transparent;
	width: 726px;
	height: 492px;
	margin: 0 auto; 
	
}
.tabla-row{
	
	display:table-row;
	height:164px;
	width: 726px;
	
}
.tabla-celda { 
	display: inline-block;
	text-align: left;
	float: left;
}
.tabla-celda  .tabla-col { 
	 
	display: block;	 
}
.tabla-celda span { display: inline-block;padding-left: 5px;} 
.tabla-col{
	display:inline-block;	
	border: 2px solid #fff;
	margin: 3px;
	width: 236px;
	height: 157px;
}
.tabla-col a { display: inline-block;} 
.tabla-col img{		
	width:232px;
	height: 153px;	
}
.footer-paginar { 
	width: 726px; 
	margin: 0 auto; 
	text-align: center;
	height: 32px;
	font-size: 24px;
	padding-left: 105px;
	}
.footer-paginar a, .p { text-decoration: none;  color:#0a7846; font-family:Arial, Helvetica, sans-serif;   }
.footer-paginar a:hover { font-weight: 800; color:#0a7846; text-decoration: none;}

.footer-compartir{ float: right;}
.mes { 
	position: absolute;
	background: url(../img/mes.png) no-repeat top center;	
	background-size: 102px 59px;
	width: 102px;
	height: 59px;
	right: 50px;
	line-height: 59px;
	 font-size: 12px;
color: #fff;
	z-index: 3;
}

.more { 
position: absolute;
	background: url(../img/mas-eventos.png) no-repeat top center;
	background-size: 76px 44px;
	width: 76px;
	height: 44px;
	right: 50px;
	bottom: 5px;
	line-height: 34px;
	color: #fff;
	font-size: 12px;
	z-index: 3;
}

.arriba {
	
 position: absolute;
background: url(../img/arriba.png) no-repeat top center;
background-size: 74px 45px;
width: 74px;
height: 45px;
right: 52px;
bottom: 48px;
line-height: 58px;
color: #fff;
font-size: 12px;
z-index: 3;

}
.more a , .arriba a { color: #fff;}
.more a:hover , .arriba a:hover{ color: #fff; font-weight:  700; text-decoration: none;}
.tabla-evento-reciente {
	margin: 0 auto;
	display: inline-block;
	
}
