.caja_eventos {
    margin: 10px;
    padding: 2px;
    position: relative;
    width: 220px;
    .muni {
        @include font-mask( #390, em( 16, 16 ), em( 16, 16 ), normal, $lucida );
        height: 20px;
        padding: 2px;
        text-align: center;
        width: 210px;
    }
    .fecha_event {
        @include font-mask( #999, em( 16, 16 ), em( 16, 16 ), normal, $times );
        height: 20px;
        padding: 2px;
        text-align: center;
        width: 210px;
    }
    .linea_div { height:5px; }
    .Img-foto {
        border: 5px solid #FFF;
        height: 145px;
        text-align: center;
        width: 210px;
    }
    .descrip_event {
        @include font-mask( #666, em( 12, 16 ), em( 16, 12 ), normal, $helveticaNeue );
        text-align: center;
        padding-top:5px;
    }
}
