/* Estilo general */
html { height: 100%; }
html, body {
    /*margin: 0;
    padding: 0;*/
    height: 100%;
}

/* Estilo del contenedor principal*/
.contenedor{
    display:table;
    /*width:100%;
    height:100%;*/
    /* Estilos componentes panel derecho  */
    /**************************************/
    .contenedor-izquierda{
        background:url("img/bg-shape.png") no-repeat scroll left top transparent;
        min-height: 599px;
        height:100%;
        float:left;
        position: relative;
        width:232px;
        .contenedor-logotipo{
            background:url("img/bg-shape.png") no-repeat scroll left top transparent;
            height:113px;
            .logotipo{
                background:url("img/logotipo.png") no-repeat scroll 22px 12px transparent;
                height:104px;
            }
        }
        .menu-lateral{
            /*background-color:red;*/
            background:url("img/bg-shape.png") no-repeat scroll left top transparent;
            min-height:90%;
            #cssmenu,
            #cssmenu ul,
            #cssmenu li,
            #cssmenu a {
                border: 0;
                font: normal 14px/1em 'Open Sans', Helvetica, Arial, sans-serif;
                margin: 0;
                padding: 0;
                list-style: none;
                text-decoration: none;
                text-shadow: 1px 1px 3px #000 !important;
                position: relative;
                /*background-color:green;*/
            }
            #cssmenu{
                width: 232px;
                a { line-height: 1.3em; }
                > ul {
                    @extend .clearfix;
                    border-bottom: 1px solid #000;
                    > li {
                        
                        //height: 41px;
                        height: auto;
                        margin: 0 0 0px 0; /*Establece la separación entre cada item (2)*/
                        > a {
                            background:url("img/bg_item_normal.png") no-repeat scroll left top transparent;
                            border-top: 1px solid #000;
                            color: #FFF;
                            display: block;
                            font-size: 15px;
                            height: 100%;
                            text-shadow: 0 1px 1px #000;
                            > span {
                                display: block;
                                padding: 11px 74px;
                            }
                            &:hover {
                                background:url("img/bg_item_hover.png") no-repeat scroll left top transparent;
                                text-decoration: none;
                            }
                        }
                        .csssubmenu{
                            
                            .csssubmenu{
                                
                                ul#nav-evento{
                                    @extend .clearfix;
                                    li.has-sub{
                                        
                                        a{
                                            background: url("img/menu-items.png") no-repeat scroll 0px -516px transparent !important;
                                            border-top: 1px solid #000;
                                            display: block;
                                            height: 41px;
                                            width: 232px;
                                            span{
                                                display: block;
                                                height: 41px;
                                                line-height: 41px;
                                                text-indent: 75px;
                                                width: 100%;
                                            }
                                            &:hover{
                                                background-position: 0px -172px !important;
                                            }
                                        }
                                        > a{ border-top:1px solid #000; }
                                        > ul{
                                            @extend .clearfix;
                                            display: none;
                                            li{
                                                
                                                > a{
                                                    background: url("img/menu-items.png") no-repeat scroll 0px -645px transparent !important;
                                                    border-bottom: 0 none transparent;
                                                    span{
                                                        color: #98969C;
                                                        text-indent: 100px;
                                                    }
                                                }
                                                &:last-child{
                                                    
                                                    > a{
                                                        border-bottom: 0 none transparent;
                                                    }
                                                }
                                            }
                                            .active{
                                                color: #FFF;
                                                > a{
                                                    color: #FFF !important;
                                                    background-position: 0px -344px !important;
                                                    span{
                                                        color: #FFF;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        &:last-child { margin: 0; }
                    }
                    .home,
                    .events,
                    .contact_form_trigger{
                        
                        a{
                            background: url("img/menu-items.png") no-repeat scroll 0 0 transparent !important;
                            display: block;
                            height: 41px;
                            width: 232px;
                        }
                    }
                    .home{
                        
                        a{ background-position: 0px -43px !important; }
                        &:hover{
                            
                            a{ background-position: 0px -215px !important; }
                        }
                    }
                    .home.active{
                        
                        a{ background-position: 0px -387px !important; border-bottom: 1px solid #000; }
                    }
                    .events{
                        
                        a{ background-position: 0px -86px !important; }
                        &:hover{
                            
                            a{ background-position: 0px -258px !important; }
                        }
                    }
                    .events.active{
                        
                        a{ background-position: 0px -430px !important; }
                    }
                    .contact_form_trigger{
                        
                        a{ background-position: 0px -129px !important; }
                        &:hover{
                            
                            a{ background-position: 0px -301px !important; }
                        }
                    }
                    .contact_form_trigger.active{
                        
                        a{ background-position: 0px -473px !important; border-bottom: 1px solid #000; }
                    }
                    .active {
                        border-bottom: none;
                        > a {
                            background-image:url("img/bg_item_active.png");
                            color: #fff;
                            span { /*border: 1px solid yellow;*/ }
                        }
                    }
                    > li.has-sub{
                        
                        > a{
                            
                            span {
                                background: url("img/icon_plus.png") no-repeat scroll 88% center transparent;
                            }
                        }
                    }
                    li.has-sub.active{
                        
                        > a{
                            border-bottom: 1px solid #000;
                            span { background: url("img/icon_arrow.png") no-repeat scroll 88% center transparent; }
                        }
                    }
                    /* submenu contenedor (div)*/
                    div {
                        display: none;
                        /*height:auto;*/
                        /*background-color:yellow;*/
                    }
                }
            }
        }
        .pie{
            /*background-color:red;*/
            //bottom: 0 !importante;
            //bottom: -1px;*/
            background:url("img/pie.png") no-repeat scroll 0 0 #2D2B2E;
            bottom: 0;
            color:#858388;
            font-family: 'Open Sans', sans-serif;
            height: 73px;
            left: 0;
            padding: 15px 0 0;
            position: absolute;
            width:232px;
            p,a{
                color:#858388;
                font: normal 9px/1.5em Helvetica,Arial,'sans-serif';
                margin: 0;
                padding:0 0 0 20px;
                text-transform: uppercase;
            }
            #site_name{ font-style: italic; }
            a{
                text-decoration:underline;
                margin-bottom:4px;
                position: relative;
                top:-8px;
                &:hover{ color:#858388; }
            }
        }
    }
    /* Estilos componentes panel izquierdo  */
    /****************************************/
    .contenedor-panel{
        float:right;
        /*width:auto;
        height:auto;*/
        /*background-color:green;*/
        #search_form{
            border-bottom: 1px dashed #959595;
            display: block;
            margin: 0 auto;
            padding: 50px 0 7px 50px;
            position: relative;
            width: em( 883, 16 );
            z-index: 1;
            form#images_search{
                
                fieldset{
                    
                    legend,
                    .select_input,
                    .text_input,
                    .submit_input{
                        display: inline-block;
                        float: left;
                        margin: 0;
                        padding: 0 13px 0 0;
                        text-transform: uppercase;
                        width:214px !important;
                    }
                    legend{
                        @include font-mask( #4d4d4d, em( 15, 16 ), em( 28, 15 ), normal, $myriadProBold );
                        display: inline-block;
                        width: 165px !important;
                    }
                    div{
                        
                        .error{
                            @include font-mask( red, em( 10.2, 16 ), em( 28, 10.2 ), bold, $helveticaNeue );
                            display: block;
                            text-align: center;
                            text-indent: -15px;
                            width: 201px !important;
                        }
                    }
                    .select_input{
                        
                        .selector{
                            display: inline-block;
                            float: left;
                            //height: 28px;
                            position: relative;
                            width: 201px !important;
                            span{
                                @include font-mask( #FFF, em( 12, 16 ), em( 28, 12 ), bold, $helveticaNeue );
                                display: block;
                                text-indent: -15px;
                                width: 201px !important;
                            }
                            select{
                                border: 0 none transparent;
                                display: inline-block;
                                height: 28px !important;
                                left: 0;
                                opacity: 0;
                                filter: alpha( opacity = 0 );
                                top:0;
                                position: absolute;
                                width: 201px !important;
                            }
                        }
                        #uniform-location_search{
                            background: url("img/combo-box-green.png") no-repeat scroll 0 0 transparent;
                            border-radius: 3px;
                            span{}
                            #location_search{
                                
                                option{}
                            }
                        }
                    }
                    .text_input{
                        height: 28px;
                        position: relative;
                        #date_search{
                            @include font-mask( #FFF, em( 12, 16 ), em( 28, 12 ), bold, $helveticaNeue );
                            background: url("img/combo-box-gray.png") no-repeat scroll 0 0 transparent;
                            border: 0 none transparent;
                            border-radius: 3px;
                            display: inline-block;
                            height: 28px !important;
                            margin: 0;
                            left: 0;
                            text-indent: 15px;
                            text-transform: uppercase;
                            top:0;
                            padding: 0;
                            position: absolute;
                            width: 201px !important;
                        }
                    }
                    .submit_input{
                        height: 28px;
                        padding: 0;
                        position: relative;
                        width: 235px !important;
                        #go_back_button,
                        #submit_search{
                            @include font-mask( transparent, em( 14.7, 16 ), em( 28, 16 ), bold, $helveticaNeue );
                            border-radius: 3px;
                            border: 0 none transparent;
                            cursor: pointer;
                            display: inline-block;
                            float: left;
                            height: 28px !important;
                            margin: 0;
                            left: 0;
                            text-align: center;
                            text-transform: uppercase;
                            top:0;
                            padding: 0;
                            position: relative;
                            width: 111px;
                        }
                        #submit_search{
                            background: no-repeat scroll 0 0 #78a608;
                            color: #FFF !important;
                            margin: 0 10px 0 0;
                        }
                        #go_back_button{
                            background: url("img/go-back-button.png") no-repeat scroll 0 0 transparent;
                        }
                    }
                }
            }
        }
        .fondo-panel{
            /*background-color:gainsboro;*/
            background:url("img/grid-.png") no-repeat scroll center center transparent;
            height:480px;
            position: relative;
            top:-86px;
            width:950px;
            z-index: 0;
            /*margin-top:92px;*/
            /*margin-left:48px; */
            .panel-galeria{
                /*background-color:gainsboro;*/
                /*margin-left:3px;
                margin-top:9px;*/
                
                /*border:solid red 1px;*/
                /*padding-top:4px;*/
                height:460px;
                padding:10px 0 0;
                width:935px;
                .tabla-galeria,.tabla-pagina{
                    background-color:transparent;
                    display:table;
                    height: 459px;
                    overflow: hidden;
                    width: 928px;
                    /*width:100%;*/
                    .tabla-row{
                        /*background-color:#E5BC7A;*/
                        display:table;
                        height:153px !important;
                        /*width:100%;*/
                        /*border:solid green 1px;*/
                        .tabla-col{
                            display:table-cell;
                            width:232px;
                            a{
                                
                                img {
                                    height: 153px;
                                    width:232px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .fondo-eventos{ padding-top: 0 !important; position: relative; top:-86px; }
    }
    .contenedor-pie{}
    #contact_form_wrapper{
        height: 473px !important;
        padding: 6px 5px 8px 5px !important;
        position: absolute;
        width: 802px !important;
        .close{
            background: url("img/contact_controls.png") 0px 0px no-repeat;
            display: block;
            height: 15px;
            right: 18px;
            top: 14px;
            width: 82px;
        }
        .contact_form{
            float: left;
            fieldset{
                display: block;
                height: 458px;
                padding: 18px 0 0 31px;
                width: 467px;
                .contact_text_input{
                    padding: 0 0 11px;
                    position: relative;
                    label{
                        background: url("img/contact_controls.png") no-repeat scroll 0 0 transparent;
                        display: block;
                        height: 42px;
                        margin: 0 0 2px;
                        padding: 0;
                        text-indent: -2000em;
                        width: 111px;
                    }
                    .error{
                        @include font-mask( #BE1206, em( 13, 16 ), em( 13, 13 ), normal, $helveticaNeue );
                        background: none;
                        bottom: -10px;
                        font-style: italic;
                        height: auto;
                        position: absolute;
                        right: 0;
                        text-align: right;
                        text-indent: 0;
                        width: 50%;
                        &:before{
                            content: "* ";
                        }
                    }
                    input,
                    textarea{
                        background-color: #E1E1E1;
                        border: 1px solid #C5C5C5;
                        @include font-mask( $text_gray, em( 14.7, 16 ), em( 30, 14.7 ), normal, $myriadProBold );
                        padding: 0 10px;
                        text-transform: uppercase;
                        width: 436px;
                    }
                    input{ height: 30px; }
                    textarea{ height: 159px; resize: none; }
                }
                #contact_name_wrapper{
                    
                    label{ background-position: 0 -17px; }
                    #contact_name{}
                }
                #contact_mail_wrapper{
                    padding: 0 0 8px;
                    label{ background-position: 0 -61px; }
                    #contact_mail{}
                }
                #contact_message_wrapper{
                    
                    label{ background-position: 0 -105px; margin: 0 0 4px; }
                    .error{ left: -11px; }
                    #contact_message{}
                    .response.sended,
                    .response.wrong{
                        @include font-mask( #BE1206, em( 13, 16 ), em( 16, 13 ), normal, $helveticaNeue );
                        background: none;
                        bottom: -25px;
                        height: auto;
                        font-style: italic;
                        left: -1px;
                        position: absolute;
                        right: -1px;
                        text-align: left;
                        text-indent: 0;
                        width: 46%;
                        &:before{
                            content: "* ";
                        }
                    }
                    .response.sended{}
                    .response.wrong{}
                }
                .contact_controls_input{
                    float: right;
                    input{
                        background: url("img/contact_controls.png") no-repeat scroll 0 0 transparent;
                        border: 0 none transparent;
                        display: inline-block;
                        height: 42px;
                        text-indent: -2000em;
                        width: 111px;
                    }
                    #contact_reset{ background-position: 0 -151px; }
                    #contact_submit{ background-position: -115px -151px; }
                }
            }
        }
        #logo_holder{
            background-color: #D2D2D2;
            display: inline-block;
            float: right;
            height: 459px;
            width: 286px;
            img{
                display: block;
                margin: 177px auto 0;
                padding: 0;
                vertical-align: middle;
            }
        }
    }
    #privacy_policy_wrapper{
        padding: 6px 5px 8px 5px !important;
        position: absolute;
        .close{
            background: url("img/contact_controls.png") 0px 0px no-repeat;
            display: block;
            height: 15px;
            right: 18px;
            top: 14px;
            width: 82px;
        }
    }
}
/* Extras*/
.input.placeholder{text-align:center;}
.img{border:solid green 1px;}
