$font-size: 16px
html,body
    position: relative
.header
    border-bottom: 0 none transparent
    header
        border-bottom: $dark-green solid 3px
        height: 61px
        width: 100%
        p
            float: left
            height: 53px
            margin: 4px auto 4px 12px
            position: static
            width: 118px
            .logo
                span
                .logo-vector
                    width: 70%
        .cell
            height: 30px
            right: 15px
            top: 15px
            width: 30px
            .icon
                height: 100%
                width: 100%
    > ul
        display: none !important
        float: none
        height: 0
        margin: 0
        overflow: hidden
        padding: 0
        position: relative
        transition: all 0.5s ease
        width: 100%
        &:before
            @include triangle ( $dark-green, solid, 10px, transparent, solid, 10px, transparent, solid, 10px, transparent, solid, 10px )
            bottom: auto
            content: " "
            left: auto
            margin: 0
            position: absolute
            right: 20px
            top: 0
        li
            display: flex
            float: none
            height: 40px
            transition: all 0.5s ease
            position: relative
            width: 100%
            form
                display: block
                height: 30px
                margin: 5px auto
                position: static
                width: 72.8125vw
                fieldset
                    display: block
                    height: 100%
                    width: 100%
                    select
                        @include font-mask( normal, 16px, 1em, $asap-regular, $text-municipality )
                        display: block
                        width: 100%
            a
                @include font-mask( normal, 16px, 40px, $asap-regular, $placeholder-color )
                display: block
                height: 100%
                text-align: center
                text-decoration: none
                width: 100%
        &.active
            display: block !important
            height: auto
            transition: all 0.5s ease
            li
                transition: all 0.5s ease
                &:hover
                    background: #F5F5F5
                    a
                        color: $dark-green
.banner
    position: static !important
    img
        margin: 0 auto
        width: 97.5vw !important
        z-index: 10
    figcaption
        p
            @include font-mask( normal, 1.875vw, 1.5em, $asap-regular, $text-normal )
            box-sizing: border-box
            margin: 3.125vw auto
            padding: 0 4.6875vw
            width: 99.25vw
footer
    bottom: -11px
    height: 25px
    position: absolute
    p
        font-size: 16px
        line-height: 25px
.desktop
    display: none !important
.mobile
    display: block !important
.page
    h1
        box-sizing: border-box
        float: left
        margin: 7px 2px 7px 5px
        overflow: hidden
        padding: 0
        text-overflow: ellipsis
        white-space: nowrap
        width: auto
        &:after
            content: " /"
    h2
        text-align: center
    h2, h3
        box-sizing: border-box
        display: block
        padding: 0 10px
    h1, h2, h3
        font-size: 16px
        line-height: 1em
    section
        > p, ul li, ol li, ul li p, ol li p, ul li h3, ol li h3
            @include font-mask( normal, 12px, 1.2em, $asap-regular, $text-normal )
        > ul li p, ol li p, ul li h3, ol li h3
            width: 97% !important
.central
    width: 100%
    .B_crumbBox
        @include font-mask( normal, 15px, 1em, $asap-regular, $text-municipality )
        box-sizing: border-box
        display: block
        float: left !important
        margin: 7px 2px
        overflow: hidden
        padding: 0 !important
        text-overflow: ellipsis
        width: auto !important
        white-space: nowrap
        li
            @include font-mask( normal, 15px, 1em, $asap-regular, $text-municipality )
            display: inline-block
            list-style: none inside
            padding: 0 !important
            a
                color: $text-municipality
                text-decoration: none
                span
        .slash_crumb
            @include font-mask( normal, 15px, 1em, $asap-regular, $text-municipality )
            &:nth-child( 1n )
                display: none
            &:nth-child( 1n + 3 )
                display: inline
        .B_firstCrumb
            display: none
        .B_homeCrumb
        .B_crumb
        .B_lastCrumb
        .B_currentCrumb
            @include font-mask( normal, 15px, 1em, $asap-regular, $text-municipality )
label
    font-size: 3.5211267606vw
    margin: 3.5211267606vw 2.2887323944vw
input[type="text"], input[type="email"], textarea
    @include font-mask( normal, 1.3671875vw, 1.5625vw, $asap-regular, $placeholder-color )
    border: 1px solid $placeholder-color !important
    border-radius: 0
    box-sizing: border-box
    float: none
    margin: 0 auto
    -webkit-appearance: none
input[placeholder],
::-moz-placeholder,/* firefox 19+ */
input:-moz-placeholder
.button
    @include font-mask( normal, 16px, 1em, $asap-regular, $white-color )
    background: $light_green
    margin: 0 0 10px
    padding: 10px 20px
    -moz-appearance: none
    -webkit-appearance: none
    &:hover
    &:active, &:visited
    &:disabled
        color: $placeholder-color
.alert
    display: none
    margin: 3.125vw 0 0
    padding: 10px 4.5px
    // min-width: 22.1875vw
    width: auto
    .info
        height: 16px
        margin-right: 5px
        width: 16px
    p
        @include font-mask( normal, 16px, 1em, $asap-regular, $white-color )
        float: left
        margin: 0
        width: auto
    &.success
        background: $success-alert
    &.fail
        background: $fail-alert
    &.info
        background: $info-alert
.year-picker-wrapper
    form
        fieldset
            select
                option
.paging
    clear: both
    display: block
    float: none
    margin: 10px auto
    width: 100%
    .pageList
        display: block
        float: none
        margin: 0 auto
        padding: 0
        li
            background: #F5F5F5
            box-sizing: border-box
            display: inline-block
            float: left
            height: 30px
            margin: 0 1.25px 0
            padding: 7px 10px
            width: 29px
            &:first-child
                margin: 0 1.25px 0 0
            &:last-child
                margin: 0 0 0 1.25px
            &.control
                height: 30px
                padding: 0
                width: 29px
            &.current
                background: $light-green
                a
                    color: $white-color
            a
                @include font-mask( normal, 16px, 1em, $asap-bold, $placeholder-color )
                display: block
                height: 100%
                text-align: center
                text-decoration: none
                width: 100%
                .arrow
                    height: 100%
                    fill: $placeholder-color
                    width: 100%
        &:empty
            margin: 0 auto
.return
    margin: 0 0 0 0.8802816901vw // 0 0 0 5px
.wrapper
    position: relative
