$font-size: 16px
html,body
    position: relative
.header
    header
        p
            clear: both
            display: block
            float: left
            height: 9.375vw
            margin: 0.6793478261vw auto 0.6793478261vw 2.0833333333vw
            position: static
            width: 20.833333333vw
            .logo
                span
                .logo-vector
                    width: 70%
        .cell
            height: 3.125vw
            right: 4.0760869565vw
            top: 4.0760869565vw
            width: 3.125vw
            .icon
                //width: 60%
    > ul
        li
            height: 4.6875vw
            form
                margin: 0.5434782609vw auto
                fieldset
                    select
                        font-size: 2.5vw
                        line-height: 2.8125vw
            a
                font-size: 2.55vw
                line-height: 4.6875vw
.banner
    position: static
    img
        margin: 0 auto
        width: 97.5vw
        z-index: 10
    figcaption
        p
            @include font-mask( normal, 1.875vw, 1.5em, $asap-regular, $text-normal )
            box-sizing: border-box
            margin: 3.125vw auto
            padding: 0 4.6875vw
            width: 99.25vw
footer
    bottom: 14.538043478vw !important
    height: 7.88043vw
    position: absolute !important
    width: 100%
    p
        @include font-mask( normal, 2.5vw, em( 25, 8 ), $asap-bold, $white-color )
.desktop
    display: none !important
.mobile
    display: block
.page
    h1
        font-size: 3.125vw
        line-height: 3.75vw
        margin: 1.0416666667vw 4.53125vw
    section
        > p
.central
    .B_crumbBox
        font-size: 5vw
        line-height: 5.625vw
        margin: 0 0 1.5625vw
        padding: 0 4.375vw
        li
            a
                span
        .slash_crumb
            font-size: 2.1875vw
            line-height: 0.75em
        .B_firstCrumb
        .B_homeCrumb
        .B_crumb
        .B_lastCrumb
        .B_currentCrumb
            font-size: 2.1875vw
            line-height: 0.75em
label
input[type="text"], input[type="email"], textarea
input[placeholder],
::-moz-placeholder,/* firefox 19+ */
input:-moz-placeholder
.button
    @include font-mask( normal, 2.5vw, 2.8125vw, $asap-regular, $white-color )
    //box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.50)
    padding: 1.5625vw 3.125vw
    &:hover
    &:active, &:visited
    &:disabled
.alert
    .info
    p
    &.success
    &.fail
    &.info
.year-picker-wrapper
    form
        fieldset
            select
                option
.paging
    clear: both
    height: 6.25vw
    .pageList
        clear: both
        height: 6.25vw
        margin: 0 auto 1.5625vw
        li
            height: 6.25vw
            margin: 0 0.9375vw 0
            width: 6.25vw
            &:first-child
                margin: 0 0.9375vw 0 0
            &:last-child
                margin: 0 0 0 0.9375vw
            a
                @include font-mask( normal, 4.4014084507vw, 1.5em, $asap-bold, $placeholder-color )
                .arrow
        &:empty
.return
    margin: 0 0 0 4.0625vw
.wrapper
    position: relative
