.contact-form
    .wrapper
        >section.central
            margin-bottom: 9.375vw
            h1
                &:after
                    content: '' !important
            form
                display: block
                fieldset
                    float: none
                    width: 100%
                    &:first-child
                        .input
                            &:first-child
                                label
                                    margin-top: 0 !important
                    .input
                        display: block
                        margin: 0 auto
                        width: 90%
                        label
                            margin: 4.6875vw 9.6875vw 4.6875vw 4.0625vw !important
                        sup
                            display: none
                        input[type="text"], input[type="email"], textarea
                            margin: 0 auto
                            &.error
                                border: 1px solid red
                        input[type="text"], input[type="email"]
                            @include font-mask( normal, 4.375vw, 5vw, $asap-regular, $placeholder-color )
                            height: 9.375vw
                            width: 81.875vw
                        textarea
                            @include font-mask( normal, 4.375vw, 5vw, $asap-regular, $placeholder-color )
                            display: block
                            float: none
                            height: 59.375vw
                            width: 81.875vw
                        input[type="submit"]
                            display: block
                            float: none
                            margin: 3.75vw auto !important
                    .alert
                        margin-right: 9.9609375vw !important
