.photo
    .wrapper
        .central
            h1
                display: inline-block
                float: left
            .principal-photography
                border: 0 none transparent
                display: block
                float: none
                margin: 6.25vw auto 0
                position: relative
                .navigator
                    display: inline-block
                    height: 15.625vw
                    margin: ( -15.625vw / 2 ) 0 0
                    padding: 0
                    position: absolute
                    top: 28.125vw
                    width: 15.625vw
                    z-index: 2
                    li
                        height: 100%
                        list-style: none inside
                        padding: 0
                        width: 100%
                        a
                            height: 100%
                            width: 100%
                            .arrow-big
                .prev
                    left: 1.5625vw
                .next
                    right: 1.5625vw
                figure
                    border: 0 none transparent
                    display: block
                    height: auto
                    margin: 0 auto
                    width: 78.75vw
                    img
                        border: 1.5625vw solid $white-color
                        box-sizing: border-box
                        height: 52.5vw
                        width: 78.75vw
                    .display
                        box-sizing: border-box
                        display: block
                        height: auto
                        margin: 6.25vw auto 0
                        position: relative
                        width: 78.75vw
                        p
                            @include font-mask( normal, 4.375vw, 6.25vw, $asap-regular, $dark_green )
                            box-sizing: border-box
                            margin: 1.25vw
                            width: auto
            aside
                border: 3.125vw solid $white-color
                box-sizing: border-box
                display: block
                float: none
                margin: 6.25vw auto 0
                padding: 0
                position: relative
                width: 78.75vw
                h2
                    @include font-mask( normal, 5.625vw, 6.5625vw, $asap-bold, $text-normal )
                    margin: 0 auto 6.25vw
                    width: 100%
                ul
                    margin: 0
                    padding: 0
                    width: 100%
                    .social-button
                        margin: 6.25vw 0
                        &:first-child
                            margin: 0 0 6.25vw
                        &:last-child
                            margin: 6.25vw 0 0
                        a
                            color: $dark_green
                            display: block
                            img, svg
                                box-shadow: 0px 0px 0.625vw 0px rgba(0,0,0,0.50)
                                height: 9.375vw
                                width: 9.375vw
                            span
                                @include font-mask( normal, 4.375vw, 9.375vw, $asap-regular, $dark_green )
                                margin: 0 0 0 6.25vw
                form
                    margin-top: 0
                    fieldset
                        .input
                            @include font-mask( normal, 4.375vw, 9.375vw, $asap-regular, $placeholder-color )
                            height: auto !important
                            width: 100% !important
                            input
                                height: auto !important
                                &.error
                                    border: 1px solid red
                                    box-shadow: 0 0 2px 0 red
                        .email
                            margin: 6.25vw 0
                            width: 75vw
                        .submit
                            width: 26.5625vw
                            .button
                                height: auto
                                margin: 0
                                padding: 3.125vw 6.25vw
                .alert
                    bottom: 0.625vw
                    margin: 0
                    position: absolute
                    right: 0
                    width: 44.375vw
