.privacy-policy
    .wrapper
        >section.central
            margin-bottom: 10vw
            h1
                clear: both
                display: block
                float: none !important
                &:after
                    content: '' !important
            h2
                display: block !important
            p, ul li, ol li, ul li p, ol li p, ul li h3, ol li h3
                //font-size: 3.4375vw
                &:empty
                    display: none
