.privacy-policy
    .wrapper
        >section.central
            margin-bottom: 25vw
    h1
        &:after
            content: ''
    p, ul li, ol li, ul li p, ol li p, ul li h3, ol li h3
        font-size: 2.3988005997vw
        line-height: 1.2em
        &:empty
            display: none
