.photo
    .wrapper
        z-index: 1
        .central
            h1
            .B_crumbBox
                margin: 12px 0 12px 25px !important
            .return
                margin: 0 0 24px 25px
            .principal-photography
                float: none
                margin: 6.25vw auto 0
                .navigator
                    top: 50% !important
                .prev
                    left: 4.5572916667vw // 35px
                .next
                    right: 4.5572916667vw // 35px
                figure
                    width: 94.010416667vw // 722px
                    img
                    .display
                        margin: 6.25vw auto 0
                        width: 78.75vw
                        p
            aside
                height: 7.8125vw //60px
                width: 100vw
                h2
                ul
                    height: 100%
                    .social-button
                        height: 100%
                        width: 25%
                        a
                            height: 100%
                            img, svg
                            svg
                                height: 7.1614583333vw // 55px
                                width: 7.1614583333vw // 55px
                            img
                                height: 4.5572916667vw // 35px
                                width: 4.5572916667vw // 35px
                            span
                                display: none
                form
                    bottom: 111px
                    padding: 20px
                    fieldset
                        .input
                            font-size: 16px
                            line-height: 25px
                            input
                                &.error
                        .email
                            margin: 0 0 10px
                            width: 75vw
                        .submit
                            width: 26.5625vw
                            .button
                .alert
                    bottom: 17.057291667vw // 131px
                    left: 114px
                    width: 634px
    .banner
        display: none
    footer
        bottom: 7.8125vw !important // 60px

